<div class="container">
    <div class="row">
        <hr>
        <div class="col-xs-8">
            <ul class="list-unstyled list-inline pull-left">
                <li>
                    <%= link_to 'Sign in', signin_path %>
                </li>
                <li>
                    <%= link_to 'Sign up', sign_up_path %>
                </li>
                
                <li>
                    <%= link_to 'Help', help_path %> 
                </li>
                <li>
                    <%= link_to 'About', about_path %>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <p class="text-muted pull-right">© 2016 Blog by Anton. All rights reserved</p>
        </div>
    </div>
</div>
